@import './colors';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $grey;
}

input{
    border-radius: 1rem;
    border-style: none;
    padding: .5rem 0.5rem;
    outline: none;
}

img{
    border-radius: 1rem;
    display: block;
    max-width: 100%;
    filter: sepia(1);
    
    &:hover{
        filter: sepia(0);
    }
}

.gallery{
    columns: 5 100px;
    
}

article{
    border-radius: 1rem;
    border: 1px solid lighten($color: $dark, $amount: 10);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
}

